body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Merriweather", Geneva, sans-serif;
    background-color: #054F25;
}

/* Styles for images */

.udacity-logo {
    width: 75%;         /* scaled as percent of parent column */
    background-color: white;
    border-radius: 50%;
}

.avatar {
    width: 75%;
    border-radius: 50%;
    border: 5px solid #f79820;
}

.hero-image {
    width: 75%;
}

.app-image {
    width: 100%;
}

/* Text styles */

.my-name {
    margin: 0;
    font-size: 4em;
    font-weight: 300;
    padding-top: 3%;
    text-transform: none;
    text-align: center;
    color: #A576BC;
}

.job-title {
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin: 3px 2% 0 0;
    color: #A576BC;
}

.application-header {
    font-size: 2.5em;
    font-weight: 400;
    width: 98%;
    margin: 1%;
    color: #A576BC;
}

h2 small {
    color: #A576BC;
}

.app-title {
    font-size: 2em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-top: 5%;
    color: #A576BC;
}

.app-link {
    font-size: 1em;
    font-weight: 700;
    text-align: left;
    margin: 0;
    color: #A576BC;
}

.app-description {
    font-size: 1.5em;
    font-weight: 400;
    text-align: left;
    margin: auto;
    color: #A576BC;
    width: 100%;
}

.hero-description {
    font-size: 1.5em;
    font-weight: 400;
    text-align: right;
    margin: 0;
    color: #A576BC;
    width: 100%;
    padding-bottom: 1em;
}

/* Containers */

/* Aligns application image, title, and link within the row */
.app-box {
    margin: 3%;
    padding-bottom: 30px;
}

/* Horizontal line to set off header */
hr {
    border-width: 2px;
    border-color: #A576BC;
}
