* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    /*
     * Mockup font is Gotham HTF from Hoefler & Co. (typography.com). Raleway is 
     * my best match from Google Fonts.
     */
	font-family: "Raleway", Geneva, sans-serif;
	
	border: 3px dotted purple !important; /* Border For initial testing */

}

/* 
 * This 12-column framework has been borowed from the Udacity class materials. 
 * It simplifies aligning subdivided rows, using a flexbox layout for each row.
 * a col-1 <div> takes a single column (one-twelfth of the page width); a col-4
 * takes four columns (one-third of the page).
 */

 .grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    border: 2px solid green !important; /* Border For initial testing */
}

.row {
    width: 100%;
    display: flex;
    border: 2px dashed black !important; /* Border For initial testing */
}

.col-1 {
    width: 8.33%;
    border: 2px solid red !important; /* Border For initial testing */
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
    border: 2px solid red !important; /* Border For initial testing */
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
    border: 2px solid red !important; /* Border For initial testing */
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
    border: 2px solid red !important; /* Border For initial testing */
}

/* Styles for images */

.udacity-logo {
    max-height: 100%;
    width: 20%;
    float: left;
    margin-left: 2%;    /* 2% of a half-width cell = 1% of full-width */
}

.hero-image {
    width: 98%;
    margin: 1%;
}

/* Text styles */

.my-name {
    margin: 0;
    margin-top: 10px;
    margin-right: 2%;
    font-size: 3em;
    font-weight: 200;
    text-transform: uppercase;
    text-align: right;
    color: #bcbbbb;}

.job-title {
    float: right;
    text-transform: uppercase;
    margin-top: 3px;
    margin-right: 2%;
    color: #bcbbbb;}

.application-header {
    font-size: 2em;
    width: 98%;
    margin: 1%;
    color: #bcbbbb;
}